
body {
    background-color: #f3e0e0;
}

h1 {
    color:#b5135f;
    font-size: 46px;
    font-weight: 900;
    font-family:  "Roboto Slab", serif;
    letter-spacing: 1px;
}
article {
    color: black;
    font-size: 20px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li {
    color:#660386;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}