
body {
    background-color: rgb(214, 214, 206);
}
h1 {
color: rgb(75, 61, 0);
font-size: 50px;
}

article {
    color:black;
    font-family: "Dancing Script", cursive;
}
li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}