* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calendarContainer {
    background-color: whitesmoke;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    height: 350px;
}

.month {
    background-color: orangered;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}
 
.calendar {
    background-color: white;
    height: 400px;
    width: 350px;
    flex-direction: column;
    box-shadow: 10px 10px 5px 0px rgba(58, 55, 55, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(58, 55, 55, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(58, 55, 55, 0.75);
    border-radius: 10px;
}
.weekday, .year {
    color: grey;
    font-size: 20px;
    font-weight: bold;
    margin: 25px;
}
.dayNumber {
    font-size: 80px;
    font-weight: 600;
}
.year {
    font-size: 30px;
}