body {
    margin: 0;
}

.box {
    width: 150px;
    background-color: darkgoldenrod;
    color: white;
    font-size: 26px;
    font-family: monospace;
    /* padding: 10px;
    min-height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    text-align: center;
 

    
}

.box:nth-child(2) {
    order: 5;
    flex-shrink: 3;
    align-self: flex-start;
}
.box:nth-child(3) {
    order: 1;
    flex-grow: 2;
}


section {
    display: flex;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    align-items: stretch;
    /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */


    
    /* padding: 50px; */
    
}