ul {
    list-style-type: none;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
 
}
 
ul li.user {
    background-color: #797878;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
   
}
 