$lightPurple: #9A54BC;
$darkPurple: #60267F;
$white: #FFFFFF;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Roboto", sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPurple {
    background-color: $darkPurple;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 3px 0 0 0;
}

.topHeader {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 0 50px;
    box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -webkit-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);

}

.toprightMeniu {
    width: 670px;
    display: flex;

    justify-content: space-between;
}


.linksContainer {
    color: #2B0236;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-weight: 600;

}

.headerButton {
    padding: 6px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 12px;
    border: 2px solid $lightPurple;
    color: $lightPurple;
    font-weight: 700;
    cursor: pointer;
}

.headerButton:hover {
    background-color: $lightPurple;
    color: $white;
}

.firstSection {
    flex-direction: column;
    height: 300px;
    row-gap: 23px;

    h1 {
        font-size: 56px;
        text-align: center;
        color: #2B0236;
        letter-spacing: 1.2px;
    }




    button {
        background-color: $lightPurple;
        border: 2px solid;
        padding: 15px;
        color: $white;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        font-weight: 700;
    }

    button:hover {

        background-color: transparent;
        color: $lightPurple;
    }

}

.secondSection {
    position: relative;

    height: 500px;

    .absolute {
        position: absolute;
    }

    .ellipseSmall {
        top: 75px;
    }


    .phone {
        top: 85px;
    }

    .phoneLogo {
        top: 190px;
    }

    .exploreProduct {
        top: 365px;
        padding: 6px;
        background-color: $white;
        border-radius: 5px;
        font-size: 12px;
        border: 2px solid $lightPurple;
        color: $lightPurple;
        font-weight: 700;
        cursor: pointer;
    }

    .exploreProduct:hover {
        background-color: $lightPurple;
        color: $white;
    }







}