* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topPurple {
    background-color: #60267F;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 3px 0 0 0;
}

.topHeader {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    padding: 0 50px;

}

.toprightMeniu {
    width: 670px;
    display: flex;
    
    justify-content: space-between;
}


.linksContainer {
    color: #2B0236;
    width: 80%;
    display: flex;
    
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-weight: 600;

}