$lightPurple: #9A54BC;
$darkPurple: #60267F;
$white: #FFFFFF;
$grey:#A79D9D;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    display: flex;

    justify-content: center;
}

body {
    font-family: "Roboto", sans-serif;
    height: 500vh;
    width: 1600px;
}
 h2 {
            font-size: xx-large;
        }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPurple {
    background-color: $darkPurple;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 3px 0 0 0;
}

.topHeader {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 0 50px;
    box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -webkit-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);

}

.toprightMeniu {
    width: 670px;
    display: flex;

    justify-content: space-between;
}


.linksContainer {
    color: #2B0236;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-weight: 600;

}

.headerButton {
    padding: 6px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 12px;
    border: 2px solid $lightPurple;
    color: $lightPurple;
    font-weight: 700;
    cursor: pointer;
}

.headerButton:hover {
    background-color: $lightPurple;
    color: $white;
}

.firstSection {
    flex-direction: column;
    height: 300px;
    row-gap: 23px;

    h1 {
        font-size: 56px;
        text-align: center;
        color: #2B0236;
        letter-spacing: 1.2px;
    }




    button {
        background-color: $lightPurple;
        border: 2px solid;
        padding: 15px;
        color: $white;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        font-weight: 700;
    }

    button:hover {

        background-color: transparent;
        color: $lightPurple;
    }

}

.secondSection {
    position: relative;

    height: 500px;
     h2 {
            font-size: xx-large;
        }

    .absolute {
        position: absolute;
    }

    .ellipseSmall {
        top: 75px;
    }


    .phone {
        top: 85px;
    }

    .phoneLogo {
        top: 190px;
    }

    .exploreProduct {
        top: 365px;
        padding: 6px;
        background-color: $white;
        border-radius: 5px;
        font-size: 12px;
        border: 2px solid $lightPurple;
        color: $lightPurple;
        font-weight: 700;
        cursor: pointer;
    }

    .exploreProduct:hover {
        background-color: $lightPurple;
        color: $white;
    }

}

.thirdSection {

    flex-direction: column;
    width: auto;
    height: 240px;
    gap: 50px;
     h2 {
            font-size: xx-large;
        }



    .containerIcons {

        justify-content: space-evenly;
        width: 70%;
    }

    .containerIcons img {
        width: 100px;
        height: 100px;
    }

    .icon5 img {
        height: 200px;
        width: 200px;
    }
}


.sectionCollabHelp {

    margin-top: 100px;

    flex-direction: column;

    h2 {
        font-size: xx-large;
        width: auto;
    }

    .collabHelpMainContainer {

        width: 80%;
        height: 500px;
        align-items: flex-start;
        margin-top: 40px;
        justify-content: space-evenly;




        .collabHelpLeftContainer {

            height: 300px;
            width: 400px;
            margin: 16px 0 0 0;
            flex-direction: column;
            justify-content: flex-start;

            .collabHelpButtonContainer {
                width: 100%;
                border-radius: 5px;
                box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
                -webkit-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
                -moz-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);


                button {
                    cursor: pointer;
                    width: 50%;
                    border-radius: 5px;
                    background-color: $white;
                    border: 2px solid $white;
                    padding: 7px;

                }

                button:hover {
                    background-color: $darkPurple;
                    color: $white;
                }
            }

            .collabHelpTextContainer {

                flex-direction: column;
                justify-content: flex-start;
                font-family: "Roboto", sans-serif;
                gap: 10px;
                font-size: 10px;
                width: 95%;
                margin-top: 30px;

            }

            .collabHelpTextContainer p {
                background-color: #F2F2F2;
                padding: 1.8rem 1rem;
                align-items: left;
                width: 100%;

            }

        }

        .collabHelpImg img {
            width: 250px;
        }
    }
}


.fifthSection {
    margin-top: 100px;
    flex-direction: column;
    gap: 40px;
    text-align: center;
     h2 {
            font-size: xx-large;
        }

    .fifthSection p {
        width: 70%;
        text-align: center;
    }

}

.sixthSection {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 0 0;
    gap: 50px;
     
    h2 {
            font-size: xx-large;
        }


    .projectsContainer {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        padding: 0 150px;

       


        .buildersContainer {

            padding: 0 30px;

            img {
                width: 300px;
                height: 200px;
            }

            flex-direction: column;
            width: 300px;
            height: 300px;

            h3 {
                color: $darkPurple;
                padding: 20px 0 15px 20px;
            }

            p {
                padding: 0 20px;
                font-weight: 500;

            }
        }

        .contractorsContainer {
            padding: 0 30px;
            img {
                width: 300px;
                height: 200px;
            }

            flex-direction: column;
            width: 300px;
            height: 300px;

            h3 {
                color: $darkPurple;
                padding: 20px 0 15px 20px;
            }

            p {
                padding: 0 20px;
                font-weight: 500;

            }
        }

        .designContainer {
            padding: 0 30px;
            img {
                width: 300px;
                height: 200px;
            }

            flex-direction: column;
            width: 300px;
            height: 300px;

            h3 {
                color: $darkPurple;
                padding: 20px 0 15px 20px;

            }

            p {
                padding: 0 20px;
                font-weight: 500;

            }
        }
    }
}


.readyToStart {
    margin-top: 200px;
    flex-direction: column;
    gap: 30px;
}

.readyToStartTopP {
    color: $grey;
}

.readyToStartTopDiv {
    gap:15px;
}

.monthly {
    color: $grey;
}
.yearly {
    font-weight: 500;
}

.discount {
    font-size: 14px;
    background-color:#FFE87A ;
    padding: 4px 7px;
}
.readyToStartCard {
    flex-direction: column;
    border: 2px solid $grey;
    border-radius: 5%;
    width: 250px;
    height: 400px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 25px;
    gap:15px;
}
.readyToStartCard ul {
    margin-left: 18px;
}

.readyToStartCard p {
    font-weight: 500;
}