$lightPurple: #9A54BC;
$darkPurple: #60267F;
$white: #FFFFFF;
$grey: #A79D9D;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    display: flex;

    justify-content: center;
}

body {
    font-family: "Roboto", sans-serif;
    height: 500vh;
    width: 1600px;
}

h2 {
    font-size: xx-large;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPurple {
    background-color: $darkPurple;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 3px 0 0 0;
}

.topHeader {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 0 50px;
    box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -webkit-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);

}

.toprightMeniu {
    width: 670px;
    display: flex;

    justify-content: space-between;
}


.linksContainer {
    color: #2B0236;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-weight: 600;

}

.headerButton {
    padding: 6px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 12px;
    border: 2px solid $lightPurple;
    color: $lightPurple;
    font-weight: 700;
    cursor: pointer;
}

.headerButton:hover {
    background-color: $lightPurple;
    color: $white;
}

.firstSection {
    flex-direction: column;
    height: 300px;
    row-gap: 23px;

    h1 {
        font-size: 56px;
        text-align: center;
        color: #2B0236;
        letter-spacing: 1.2px;
    }




    button {
        background-color: $lightPurple;
        border: 2px solid;
        padding: 15px;
        color: $white;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        font-weight: 700;
    }

    button:hover {

        background-color: transparent;
        color: $lightPurple;
    }

}

.secondSection {
    position: relative;

    height: 500px;

    h2 {
        font-size: xx-large;
    }

    .absolute {
        position: absolute;
    }

    .ellipseSmall {
        top: 75px;
    }


    .phone {
        top: 85px;
    }

    .phoneLogo {
        top: 190px;
    }

    .exploreProduct {
        top: 365px;
        padding: 6px;
        background-color: $white;
        border-radius: 5px;
        font-size: 12px;
        border: 2px solid $lightPurple;
        color: $lightPurple;
        font-weight: 700;
        cursor: pointer;
    }

    .exploreProduct:hover {
        background-color: $lightPurple;
        color: $white;
    }

}

.thirdSection {

    flex-direction: column;
    width: auto;
    height: 240px;
    gap: 50px;

    h2 {
        font-size: xx-large;
    }



    .containerIcons {

        justify-content: space-evenly;
        width: 70%;
    }

    .containerIcons img {
        width: 100px;
        height: 100px;
    }

    .icon5 img {
        height: 200px;
        width: 200px;
    }
}


.sectionCollabHelp {

    margin-top: 100px;

    flex-direction: column;

    h2 {
        font-size: xx-large;
        width: auto;
    }

    .collabHelpMainContainer {

        width: 80%;
        height: 500px;
        align-items: flex-start;
        margin-top: 40px;
        justify-content: space-evenly;




        .collabHelpLeftContainer {

            height: 300px;
            width: 400px;
            margin: 16px 0 0 0;
            flex-direction: column;
            justify-content: flex-start;

            .collabHelpButtonContainer {
                width: 100%;
                border-radius: 5px;
                box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
                -webkit-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
                -moz-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);


                button {
                    cursor: pointer;
                    width: 50%;
                    border-radius: 5px;
                    background-color: $white;
                    border: 2px solid $white;
                    padding: 7px;

                }

                button:hover {
                    background-color: $darkPurple;
                    color: $white;
                }
            }

            .collabHelpTextContainer {

                flex-direction: column;
                justify-content: flex-start;
                font-family: "Roboto", sans-serif;
                gap: 10px;
                font-size: 10px;
                width: 95%;
                margin-top: 30px;

            }

            .collabHelpTextContainer p {
                background-color: #F2F2F2;
                padding: 1.8rem 1rem;
                align-items: left;
                width: 100%;

            }

        }

        .collabHelpImg img {
            width: 250px;
        }
    }
}


.fifthSection {
    margin-top: 100px;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    h2 {
        font-size: xx-large;
    }

    .fifthSection p {
        width: 70%;
        text-align: center;
    }

}

.sixthSection {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 0 0;
    gap: 50px;

    h2 {
        font-size: xx-large;
    }


    .projectsContainer {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        padding: 0 150px;




        .buildersContainer {

            padding: 0 30px;

            img {
                width: 300px;
                height: 200px;
            }

            flex-direction: column;
            width: 300px;
            height: 300px;

            h3 {
                color: $darkPurple;
                padding: 20px 0 15px 20px;
            }

            p {
                padding: 0 20px;
                font-weight: 500;

            }
        }

        .contractorsContainer {
            padding: 0 30px;

            img {
                width: 300px;
                height: 200px;
            }

            flex-direction: column;
            width: 300px;
            height: 300px;

            h3 {
                color: $darkPurple;
                padding: 20px 0 15px 20px;
            }

            p {
                padding: 0 20px;
                font-weight: 500;

            }
        }

        .designContainer {
            padding: 0 30px;

            img {
                width: 300px;
                height: 200px;
            }

            flex-direction: column;
            width: 300px;
            height: 300px;

            h3 {
                color: $darkPurple;
                padding: 20px 0 15px 20px;

            }

            p {
                padding: 0 20px;
                font-weight: 500;

            }
        }
    }
}


.readyToStart {
    margin-top: 200px;
    flex-direction: column;
    gap: 30px;
}

.readyToStartTopP {
    color: $grey;
}

.readyToStartTopDiv {
    gap: 15px;
}

.monthly {
    color: $grey;
}

.yearly {
    font-weight: 500;
}

.discount {
    font-size: 14px;
    background-color: #FFE87A;
    padding: 4px 7px;
}

.readyToStartCard {
    flex-direction: column;
    border: 2px solid $grey;
    border-radius: 5%;
    width: 250px;
    height: 400px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 25px;
    gap: 15px;
}

.readyToStartCard ul {
    margin-left: 18px;
}

.readyToStartCard p {
    font-weight: 500;
}

.reviews {
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;

    .commentContainer {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 100px;
    }

    .commentContainer p {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;

    }

    .ellipse24 {
        width: 100px;
        height: 100px;
    }
}

.joinUs {

    flex-direction: column;
    margin-top: 100px;

    .joinUsTop {
        flex-direction: column;
        gap: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;

    }

    .exploreButton {
        position: absolute;

        padding: 6px;
        background-color: $lightPurple;
        border-radius: 5px;
        font-size: 12px;
        border: 2px solid $lightPurple;
        color: $white;
        font-weight: 700;
        cursor: pointer;
    }



    .team-line {
        position: relative;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 40px 0;
    }

    .line-img {
        width: 100%;
        display: block;
        pointer-events: none;
    }

    .avatars {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
    }

    /* Pozicijos ant linijos */
    .avatar:nth-child(1) {
        left: -3%;
        top: 3%;
    }

    .avatar:nth-child(2) {
        left: 10%;
        top: 53%;
    }

    .avatar:nth-child(3) {
        left: 26%;
        top: 42%;
    }

    .avatar:nth-child(4) {
        left: 39%;
        top: 65%;
    }

    .avatar:nth-child(5) {
        left: 55%;
        top: 66%;
    }

    .avatar:nth-child(6) {
        left: 72%;
        top: 61%;
    }

    .avatar:nth-child(7) {
        left: 88%;
        top: 66%;
    }

    .avatar:nth-child(8) {
        left: 95%;
        top: 36%;
    }

    .you-label {
        position: absolute;
        font-size: 22px;
        font-weight: 600;
        color: #9b59b6;
        left: 86%;
        /* pastumk į dešinę */
        top: 33%;
        /* nuleisk aukštyn/žemyn */
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }


}


.download {
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: $lightPurple;
    justify-content: space-evenly;

    .downloadCollabText {
        color: $white;
        font-size: 50px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0%;

    }



    .downloadButtons {
        justify-content: space-evenly;
        width: 43%;


        .demo {
            height: 42px;
            width: 200px;
            padding: 6px;
            background-color: $lightPurple;
            border-radius: 5px;
            font-size: 16px;
            border: 2px solid $white;
            color: $white;
            font-weight: 700;
            cursor: pointer;
        }

        .demo:hover {
            background-color: $white;
            color: $lightPurple;
        }

        .vendor {
            height: 42px;
            width: 200px;
            padding: 6px;
            background-color: $lightPurple;
            border-radius: 5px;
            font-size: 16px;
            border: 2px solid $white;
            color: $white;
            font-weight: 700;
            cursor: pointer;
        }

        .vendor:hover {
            background-color: $white;
            color: $lightPurple;
        }

        .engineer {
            height: 42px;
            width: 200px;
            padding: 6px;
            background-color: $lightPurple;
            border-radius: 5px;
            font-size: 16px;
            border: 2px solid $white;
            color: $white;
            font-weight: 700;
            cursor: pointer;
        }

        .engineer:hover {
            background-color: $white;
            color: $lightPurple;
        }
    }
}

.questions {
    background-color: #E2BDF21C;
    width: 100%;
    justify-content: space-evenly;



    .questionsText {
        flex-direction: column;
        gap: 50px;
    }

    .questionsText h2 {
        font-size: 42px;
        font-weight: 500;
    }

    .questionsText p {
        font-family: "Roboto";
        font-weight: 500;
        font-style: Medium;
        line-height: 14.09px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;

    }

    .numeris {
        margin-top: -25px;
    }
}

.lastSection {

    justify-content: space-between;
    margin-top: 100px;
    padding: 0 0 0 125px;

    .leftCollabContainer {
        flex-direction: column;
        align-items: flex-start;


        .lastSectionCollab {
            flex-direction: column;
            align-items: flex-start;

        }

        .lastSectionCollab img {
            height: 100px;
            width: 200px;

        }

        .lastSectionCollab p {

            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #2C2C2C;
            ;
        }

        .followUs {
            flex-direction: column;
            margin-top: 40px;
            align-items: flex-start;
            width: 100%;


        }

        .followUs h3 {
            font-size: 27px;
            margin-bottom: 20px;
        }

        .followUsIcons {
            justify-content: space-between;
            width: 100%;
            padding: 0 150px 0 0;

        }

        .followUsIcons img {
            width: 55px;
            height: 55px;
        }

    }

    .rightCollabContainer {
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 367px;

        .rightCollabInfo {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 300px;
            align-items: flex-start;
            margin-top: 95px;
        }

        .rightCollabInfoCompany {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;


        }

        .rightCollabInfo p {
            color: $darkPurple;
            font-size: 20px;
        }

        .rightCollabInfo h3 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .rightCollabInforesources {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        .rightCollabInfoLegal {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        .rightCollabContact {
            width: 100%;
            margin-top: 50px;
            justify-content: space-between;
            padding: 0 245px 0 60px;

        }
        .rightCollabContact h3 {
            font-size: 24px;
            
        }
        .rightCollabContact p {
            color: $darkPurple;
            font-size: 20px;
        }

    }
}

.footer {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #60267F;
    color: white;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    margin-top: 100px;
}