
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topPurple {
    background-color: #60267F;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 10px;
    color:white;
    padding: 3px 0 0 0;
}

.topHeader {
    width: 100%;
    height: 90px;
    display:flex;
    justify-content: space-between;

}
.toprightMeniu {
    display: flex;
}


.linksContainer {
    display: flex;
}