$white: white;
$black: black;
$grey: #7D7987;
$blue: #458FF6;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 1600px) {
    body {
        width: 1600px;
    }
}



@media (max-width: 1250px) {
    body {
        width: 1250px;
    }
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute {
    position: absolute;
}

body {
    
    align-items: center;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
   
}


ul,
li,
p,
a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    padding: 0;
}

.topHeader {
    justify-content: space-between;
    width: 100%;
    height: 140px;
    flex-shrink: 0;
    display: flex;
    top: 96px;
    left: 57px;
    align-items: center;

    .topMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 41px;
        margin: 30px;
        padding: 0 70px 0 230px;
    }

    .logo {

        display: flex;
        width: 160px;
        height: 41px;
    }

    .links {
        width: 600px;
        display: flex;
        justify-content: space-between;
        height: 41px;
        font-size: 18px;
        align-items: center;
        flex-direction: row;
        color:$grey;
        
        line-height: normal;
        font-weight: 400;
        font-style: normal;
        
        li {
            color:$black;
            font-weight: 300;
           
        }
         .home {
            color:$black;
            font-weight: 700;
        }
        a {
            color: black;
            opacity: 50%;
        }

        
    }
}

.firstSection {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .information {
        display: flex;
        justify-content: space-between;
    }

    .ikona1 {
        display: flex;
        width: 131.581px;
        height: 115px;
        position: relative;
        top: 20px;
        left: -80px;
    }

    .apieIrH1 {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 60px 0;

        button.consultToday {
            cursor: pointer;
            width: 200px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 55px;
            background:$blue;
            color: $white;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            position: relative;
            border-color: $blue;
            
        }

        .apie {
            display: flex;
            width: 450px;
            height: 233px;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            

            h1 {
                color:$black;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 56px;
            }

            p {
                color:$grey;
                font-size: 21px;
                font-style: normal;
                font-weight: 300;
                line-height: 32px;
            }
        }
    }

    .ilustration1 {
        width: 693px;
        height: 598px;
        position: relative;
        padding: 0 0 0 30px;
       
    }
}

.secondSection {
   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 100px 0;

    .ourServices {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0 320px;

        h2 {
            color: $black;
            font-family: Mulish;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            padding: 0 0 30px 0;
        }

        .rectangle {
            box-sizing: border-box;
            width: 56px;
            height: 2px;
            border-radius: 5px;
            background:$black;
            background-color:$black;
        }

        p {
            color:$grey;
            text-align: center;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px;
            padding: 30px 0 0 0;
        }
    }

    .wrapper {
        position: relative;
        display: inline-block;
    }

    .vector {
        position: absolute;
        top: 90px;
        left: -800px;
        opacity: 0.5;
        z-index: 0;
    }

    .elementas {
        position: absolute;
        top: 410px;
        left: 510px;
        opacity: 0.5;
        z-index: 0;
    }

    .servicesMenu {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        // flex-shrink: 0;
        padding: 100px 170px 50px 170px;
        position: relative;
        z-index: 1;

        .block {
            cursor: pointer;
            justify-content: space-between;
            width: 350px;
            height: 354px;
            font-size: 18px;
            min-width: 300px;
            border: none;
            border-radius: 20px;
            margin: 20px;
            background:$white;
            box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.40);
        }

        button {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;
            padding: 40px;
        }

        h3 {
            color:$black;
            font-family: Mulish;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            
        }

        p {
            color:$grey ;
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
            text-align: left;
        }


    }

    button.firstLearnMore {

        cursor: pointer;
        width: 200px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 55px;
        background:$white;
        color:$blue;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        position: relative;
        border-color:$blue;
    }

}

.thirdSection {
   
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 100px 100px;

    .providers {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding: 70px 70px 50px 0;

        h2 {
            color:$black;
            font-family: Mulish;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            padding: 0 0 30px 0;
        }

        .rectangle {
            box-sizing: border-box;
            width: 56px;
            height: 2px;
            border-radius: 5px;
            background:$black;
            background-color:$black;
        }

        p {
            color:$grey;
            text-align: center;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px;
            padding: 30px 0;
            text-align: left;
        }

        button.secondLearnMore {

            cursor: pointer;
            width: 200px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 55px;
            background:$white;
            color:$blue;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            position: relative;
            border-color:$blue;

        }
    }
}

.fourthSection {
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 100px 100px;

    .apps {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding: 70px 70px 50px 150px;

        h2 {
            color:$black;
            font-family: Mulish;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            padding: 0 0 30px 0;
        }

        .rectangle {
            box-sizing: border-box;
            width: 56px;
            height: 2px;
            border-radius: 5px;
            background:$black;
            background-color:$black;
        }

        p {
            color: $grey;
            text-align: center;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px;
            padding: 30px 0;
            text-align: left;
        }

        button.download {

            cursor: pointer;
            width: 200px;
            height: 56px;
            // flex-shrink: 0;
            border-radius: 55px;
            background:$white;
            color:$blue;
            font-family: Mulish;
            font-size: 18px;
            text-align: center;
            font-style: normal;
            font-weight: 700;
            position: relative;
            border-color:$blue;
        }
    }
}

.fifthSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
    


    .wrapper2 {
        position: relative;
        display: inline-block;
    }


    .backElement {
        position: absolute;
        top: 250px;
        left: -620px;
        opacity: 0.5;
        z-index: 0;
        

    }

    .rectangle13 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;
        width: 1120px;
        height: 425px;
        flex-shrink: 0;
        border-radius: 24px;
        background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
        position: relative;
        z-index: 1;
        overflow: hidden;

        .topElement {
            position: absolute;
            top: -15px;
            left: 1035px;
            color:$white;
        }

        h2 {
            color:$white;
            font-family: Mulish;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            /* 133.333% */
        }

        .rectanglefeedback {
            box-sizing: border-box;
            width: 56px;
            height: 2px;
            border-radius: 5px;
            background:$white;
            background-color:$white;
            position: relative;
            top: -30px;

        }

        .edwardfeedback {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0 100px;
            position: relative;
            top: -20px;
        }


        .left-container {

            display: flex;

            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .edward-photo img {
                position: relative;
                left: -137px;
                width: 132px;
                height: 132px;
                top: -2px;
                border-radius: 50%;
                object-fit: cover;
                display: block;
            }

            .edward-name {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                left: -100px;
                top: 10px;



                h4 {
                    color:$white;
                    font-family: Mulish;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                    /* 218.182% */
                }

                p {
                    position: relative;
                    top: -20px;
                    left: -5px;
                    color: rgba(255, 255, 255, 0.85);
                    font-family: Mulish;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 48px;
                    /* 266.667% */
                }
            }
        }

        .right-container {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;


            p {
                color: rgba(255, 255, 255, 0.90);
                font-family: Mulish;
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                /* 157.895% */
            }
        }

    }

    .mygtukai {
        display: flex;
        width: 600px;
        justify-content: space-evenly;
        padding: 50px 0 0 0;
        align-items: center;
        flex-direction: row;

    }
}

.sixthSection {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 1000px;

    h2 {
        color:$black;
        font-family: Mulish;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        margin: 50px 0 0 0;
    }

    .rectangleArticle {
        position: relative;
        box-sizing: border-box;
        width: 56px;
        height: 2px;
        border-radius: 5px;
        background:$black;
        background-color:$black;
        top: -35px;
    }

    .absolute {
        position: absolute;
    }

    .articleBoxes {
        position: relative;
        display: flex;
    }


    .articleElement {
        top: 260px;
        left: 185px;
    }

    .articleVector {
        top: 267px;
        right: 0;
        width: 600px;
        height: 500px;

    }

    .box {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 350px;
        height: 512px;
        font-size: 18px;
        min-width: 300px;
        border: none;
        border-radius: 20px;
        margin: 20px;
        background: $white;
        overflow: hidden;
        box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.40);


        .tekstas {

            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            padding: 30px 50px 0 20px;

            h3 {
                color:$black;
                font-family: Mulish;
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
                
            }

            p {
                color: $grey;
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px;
                padding: 10px 0;
            }

            a {
                color: #4089ED;
                font-family: Mulish;
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
            }
        }
    }

    button.viewAllButton {

        cursor: pointer;
        width: 200px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 55px;
        background:$white;
        color:$blue;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        position: relative;
        border-color:$blue;

    }
.footer-element2 {
        position: absolute;
        top: 1130px;
        left: 1380px;
    }


}

.footer {
    width: 1600px;
    height: 432px;
    flex-shrink: 0;
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;

    .footer-element {
        position: absolute;
        top: 330px;
        left: -20px;
    }
   
    .trafalgar-container {
        flex-direction: column;
        height: 225px;
        justify-content: space-between;
        align-items: flex-start;

        p {
            color:$white;
            font-family: "Mulish", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
           
        }
    }

    .company-container {
        width: 800px;
        justify-content: space-evenly;
        color:$white;
        font-family: "Mulish", sans-serif;
        font-size: 20px;
        font-style: normal;
        line-height: 28px;
        font-weight: 700;
        
       ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        left: -8px;
        padding-top: 20px;
        
       }
       li {
        margin: 0;
       }

        a {
            color: $white;
            font-family: "Mulish", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 38px;
            
        }
    }
}