* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;

}


ul,
li,
p,
a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    padding: 0;

}



.topHeader {
    justify-content: space-between;
    width: 100%;
    height: 140px;
    flex-shrink: 0;
    display: flex;
    top: 96px;
    left: 57px;
    align-items: center;




    .topMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 41px;
        margin: 30px;
        padding: 0 130px;


    }

    .logo {

        display: flex;
        width: 160px;
        height: 41px;

    }

    .links {
        width: 600px;
        display: flex;
        justify-content: space-between;
        height: 41px;
        font-size: 18px;
        align-items: center;
        flex-direction: row;
        color: #1F1534;
        opacity: 50%;

    }




}

.ilustration {
    width: 693px;
    height: 598px;



}