* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    width: 1600px;
    height: 5870px;


}


ul,
li,
p,
a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    padding: 0;

}



.topHeader {
    justify-content: space-between;
    width: 100%;
    height: 140px;
    flex-shrink: 0;
    display: flex;
    top: 96px;
    left: 57px;
    align-items: center;






    .topMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 41px;
        margin: 30px;
        padding: 0 70px 0 230px;



    }

    .logo {

        display: flex;
        width: 160px;
        height: 41px;


    }

    .links {
        width: 600px;
        display: flex;
        justify-content: space-between;
        height: 41px;
        font-size: 18px;
        align-items: center;
        flex-direction: row;
        color: #1F1534;
        opacity: 50%;
        line-height: normal;
        font-weight: 400;
        font-style: normal;

        .home {
            font-weight: 700;

        }


    }





}

.firstSection {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .information {
        display: flex;
        justify-content: space-between;
    }

    .ikona1 {
        display: flex;
        width: 131.581px;
        height: 115px;
        position: relative;
        top: 20px;
        left: -80px;
    }

    .apieIrH1 {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 60px 0;



        button.consultToday {
            cursor: pointer;
            width: 200px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 55px;
            background: #458FF6;
            color: #FFF;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            position: relative;
            // top: 420px;
            // left: 140px;
            // text-align: center;
            /* 333.333% */
        }

        .apie {
            display: flex;
            width: 450px;
            height: 233px;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            // top: 140px;
            // left: -60px;

            h1 {
                color: #000;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 56px;


            }

            p {
                color: #7D7987;
                font-size: 21px;
                font-style: normal;
                font-weight: 300;
                line-height: 32px;

            }



        }
    }


    .ilustration1 {
        width: 693px;
        height: 598px;
        position: relative;
        padding: 0 0 0 30px;
        // top: 30px;
        // left: 50px;



    }
}


.secondSection {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;

    h2 {
        color: #000;
        font-family: Mulish;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
    }

    .servicesMenu {
        display: flex;
        justify-content: space-between;

        .div {
            box-sizing: border-box;
            border: 2px solid rgb(166, 11, 166);
            width: calc(33.3333% - 30px);
            height: 300px;
            font-size: 18px;
            display: inline-block;
            min-width: 300px;
            vertical-align: top;
            margin: 10px 15px;
        }


    }














    button.firstLearnMore {

        cursor: pointer;

        width: 200px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 55px;
        background: #FFF;
        color: #458FF6;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        position: relative;
        border-color: #458FF6;
    }





}