* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg, rgb(235, 125, 62), rgb(183, 7, 66));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    background-color: rgba(250, 142, 167, 0.7) ;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
    
   
}
p {
    margin-left: 15px;
}

input {
    font-size: 18px;
    padding: 10px 20px;
    background-color: bisque;
    border: 1px solid grey;
    
}

button {
    padding: 10px;
    background:linear-gradient(135deg, rgb(235, 125, 62), rgb(183, 7, 66)) ;
    
}
button:hover {
    border-radius: 5px;
}
input:hover {
    border-radius: 5px;
    border:2px solid black; ;
}