/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: Inter, Segoe UI, Roboto, Arial, sans-serif;
  background: #f4f6f8;
  color: #1f2d3d;
  padding: 24px
}

.invoice-wrap {
  max-width: 900px;
  margin: 24px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 24px rgba(20, 30, 50, .08);
  overflow: hidden
}

header {
  padding: 28px 32px;
  border-bottom: 1px solid #eef2f6;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.brand {
  display: flex;
  gap: 16px;
  align-items: center
}

.company {
  font-size: 14px
}

.company .name {
  font-weight: 700;
  font-size: 30px;
  text-align: left
}

.saskaitos-data {
  display: flex;
  flex-direction: row;
  margin: 6px 6px 6px 0;
  text-align: left;
  gap: 5px;


}


.rekvizitai {
  display: flex;
  gap: 24px;
  padding: 20px 32px;
  border-bottom: 1px solid #eef2f6
}

.rekvizitai div {
  flex: 1
}

.rekvizitai h4 {
  font-size: 18px;
  color: #657488;
  margin-bottom: 8px
}

.rekvizitai p {
  font-size: 14px;
  line-height: 1.4
}


table {
  width: 100%;
  padding: 10px;
}

table thead th {
  background: #fafbfd;
  text-align: left;
  padding: 12px 10px;
  font-size: 13px;
  color: #2b3b4a;
  border-bottom: 1px solid #eef2f6
}

tbody td {
  padding: 12px 10px;
  border-bottom: 1px solid #f1f5f9;
  font-size: 14px
}

.krepselio-lentele td:nth-child(1),
.krepselio-lentele td:nth-child(2),
.krepselio-lentele td:nth-child(3),
.krepselio-lentele td:nth-child(4) {
  text-align: left;
}

.krepselio-lentele td:nth-child(5) {
  text-align: right;
}


.krepselio-lentele tr:last-child td,
.krepselio-lentele tr:nth-last-child(2) td,
.krepselio-lentele tr:nth-last-child(3) td {
  text-align: right;
  font-weight: bold;
}

.krepselio-lentele tr:nth-last-child(4) td {
  text-align: right;
  font-weight: bold;
}

.krepselio-lentele tr:nth-last-child(4) td:last-child {
  border-bottom: 1px solid #f1f5f9 !important;
}

.krepselio-lentele tr:last-child td:nth-child(-n+3),
.krepselio-lentele tr:nth-last-child(2) td:nth-child(-n+3),
.krepselio-lentele tr:nth-last-child(3) td:nth-child(-n+3),
.krepselio-lentele tr:nth-last-child(4) td:nth-child(-n+4) {
  border: none;
  background: transparent;
}

@media (max-width:700px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px
  }

  .addresses {
    flex-direction: column
  }

  .summary {
    justify-content: space-between
  }

  .summary table {
    width: 100%
  }
}


@media print {
  body {
    background: white;
    padding: 0
  }

  .invoice-wrap {
    box-shadow: none;
    margin: 0;
    border-radius: 0
  }

  footer {
    page-break-inside: avoid
  }
}