body {
    background-color: #444;
}

#kas {
    color: crimson;
}

.bu-bu {
    color: blueviolet;
}


h2 {
    color: darkgreen;
}


* {
    color: aquamarine;
}

[data-kazkas="kazkam"] {
    color: orange;
}

.labas .ate {
    color: brown;
}
.labas.ate {
    color: chocolate;
}

.labas {
    color:skyblue;
}

.labukas .zuikis {
    color: cornflowerblue;
}

.labukas > .zuikis {
    color: darkred;
}

.briedis {
    color: darkblue;
    font-style: italic;
}

.briedis ~ div {
    color: darkred;
    font-style: italic;
}

.box {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: relative;
    left: 0;
    cursor: pointer;
    transition: all 2s cubic-bezier(.04,1.23,1,-0.73);
}

.box:hover {
    background-color: crimson;
    left: 50px;
}
#kas span:hover {
    font-size: 30px;
    color:blue;
    transition: all 1s ease-out;
}

input[type="text"] {
margin-top: 30px;
background-color: #444;
color: white;
border: 1px solid green;
outline: none;
transition: all 0.5s;
}
input[type="text"]:focus {
    border: 1px solid coral;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + h4{
   color: crimson;
}

li:nth-child(2)  {
    color: skyblue;

}

li {
    border-bottom: 1px solid green;
}

li:last-child {
    color: violet;
    border-bottom: none;
}

li:not(.vilkas) {
    font-size: 900;
    letter-spacing: 3px;
}
